.center-form {
  background-color: white;

  .dummy-text,
  .button-container {
    text-align: center;
  }

  .dummy-text > span {
    display: block;
    font-weight: bold;
    font-size: 33px;
  }
}
